<div class="footer">   
             <a href="">Giới thiệu về Henshin Shop</a>
             <a href="">Các ưu đãi</a>
             <a href="">Tải ứng dụng</a>
             <a href="">Tải ứng dụng Henshin Shop tại:</a>

            <a href="">Xuất xứ han</a>
            <a href="">Gốc học viện </a>
            <a href="">Thư viện</a>
             <a href="">Khu vực miền nam</a>
             <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i>
             <a href="">Hà nội</a>
             <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i><br><br>  
  
   <p> © Giấy chứng nhận doanh nghiệp số: 0313548147, Ngày cấp giấy phép: 24/11/2015, Nơi cấp: SKHDT TP.HCM</p>
   <p>Trụ Sở Chính Tại 189 Nguyễn Thị Minh Khai, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh , Điện thoại: 028 3925 9899</p>

  </div>