<div class="navbar">
    <a href="/" class="active">HOME</a>
    <a href="/product">Product</a>
    <a href="/account">Acccount Management</a>
    <a href="/sales">Sales Statistics</a>
  
    <a href="/register" class="right">Register</a>
    <a href="/login" class="right">Login</a>
</div>