<div class="side">
    <h2>About ATN Shop</h2>
    <h5>Logo</h5>
    <div class="fakeimg" style="height:200px;"><img width="200px" height="170px" src="/images/logo.PNG" alt=""></div>
    <p>Company with manga toy items</p>
    <h3>Cheap, beautiful, quality</h3>
    <p>Phone: 0337770000</p>
    <div class="fakeimg" style="height:60px;"></div><br>
    <div class="fakeimg" style="height:60px;"></div><br>
    <div class="fakeimg" style="height:60px;"></div>
  </div>